<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        p Hi
        each activity in activities
            ul
            li= activity.name
            li= activity.location
            li= activity.activity_time_minutes